<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(fruit, number) in fruits">({{number}}){{fruit}}</li>
        </ul>
        <ul>
            <li v-for="(value, key, index) in object">({{index}}){{key}}:{{value}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                fruits: ['りんご', 'バナナ', 'ぶどう'],
                object: {
                    firstName: '太郎',
                    lastName: '田中',
                    age: 21
                }
            }
        })
    </script>
</body>
</html>